#09: Membagi Data Frame menjadi dua secara acak

In [32]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.2
2.2.3

In [33]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  11   5  18  13  14
1   6   4   4   6  17
2  15  17   8   3  19
3  17   8   4   8   7
4  14  15  17   5   1
5  15   5  14  19   4
6  17  10  11   5   6
7  15  13   8  16  18
8  17  15  13   8  13
9  18   1  10   9   8

Membagi Data Frame menjadi dua secara acak berdasarkan proporsi tertentu

In [34]:
df.shape

(10, 5)

In [35]:
proporsi = 0.7
df_1 = df.sample(frac=proporsi)
df_2 = df.drop(df_1.index)

print(f'df_1 shape: {df_1.shape}')
print(f'df_2 shape: {df_2.shape}')

df_1 shape: (7, 5)
df_2 shape: (3, 5)

In [36]:
df_1

    A   B   C   D   E
6  17  10  11   5   6
7  15  13   8  16  18
3  17   8   4   8   7
1   6   4   4   6  17
9  18   1  10   9   8
4  14  15  17   5   1
0  11   5  18  13  14

In [37]:
df_2

    A   B   C   D   E
2  15  17   8   3  19
5  15   5  14  19   4
8  17  15  13   8  13


#10: Mengganti nama (label) kolom pada Data Frame berdasarkan pola

In [38]:
import pandas as pd

print(pd.__version__)

2.3.2

In [39]:
df = pd.read_csv('./data/titanicfull.csv')
df.columns = ['Pclass', 'Survival status', 'full Name', 'Sex  ', '  Age', 
              'Sib SP', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
df_backup = df.copy(deep=True)

df.head()

FileNotFoundError: [Errno 2] No such file or directory: './data/titanicfull.csv'

Menggunakan lowercase untuk nama kolom dan mengganti spasi dengan _

In [ ]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
df.head()

    a   b   c   d   e
0   4   6  13  13   7
1  17  19   5  11  12
2   9   6  13   9   2
3  18  12   5   1   3
4   4  10   7  15  10


Memangkas kelebihan spasi pada nama kolom

In [ ]:
df = df_backup.copy(deep=True)

df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')
df.head()

NameError: name 'df_backup' is not defined

#11: Melakukan seleksi kolom dan baris pada Data Frame menggunakan loc

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.2
2.2.3

In [ ]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   8   1  11   2   8
1  14  11  16  13   6
2  12  13   9   5   8
3  19  14   5   4  13
4   3   2   9  11   3
5   7  15   1   5  15
6   2  15  15   6   2
7  18  15  17  17  10
8   4  13   9  12  13
9  18   9   2   2   4

Seleksi kolom dan baris menggunakan loc

In [ ]:
df.loc[[0,3,4], ['B','E']]

    B   E
0   1   8
3  14  13
4   2   3


Seleksi baris dengan kondisi

In [ ]:

df.loc[df['B']>10, ['B','D','E']]

    B   D   E
1  11  13   6
2  13   5   8
3  14   4  13
5  15   5  15
6  15   6   2
7  15  17  10
8  13  12  13


Slicing Data Frame dengan loc

In [ ]:
df.loc[0:4, 'B':'D']

    B   C   D
0   1  11   2
1  11  16  13
2  13   9   5
3  14   5   4
4   2   9  11